{% extends "create_kpi.html" %}

{% block content %}
<h2>Editar KPI: {{ kpi.nombre }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.nombre.label(class="form-label") }}
        {{ form.nombre(class="form-control") }}
    </div>
    
    <div class="mb-3">
        {{ form.valor_real.label(class="form-label") }}
        {{ form.valor_real(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.perspective.label(class="form-label") }}
        {{ form.perspective(class="form-control") }}
    </div>

    <div class="col-md-3">
        {{ form.unidad_medida.label(class="form-label") }}
        {{ form.unidad_medida(class="form-control") }}
    </div>

    <div class="col-md-3">
        {{ form.periodicity.label(class="form-label") }}
        {{ form.periodicity(class="form-control") }}
    </div>

    <div class="col-md-3">
        {{ form.estructura_jerarquica_id.label(class="form-label") }}
        {{ form.estructura_jerarquica_id(class="form-control") }}
    </div>
    
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="{{ url_for('list_kpis') }}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}